:root {
    --color-primary: #0009BC;
    --color-secondary: #5b9ff8;
    --color-accent: #A8ABB5;

    --background-primary: #F5F5F5;
    --background-secondary: #FDFDFD;

    --light-border-color: #D3D3D3;

    --font-primary: "Roboto";
    --font-secondary: "Press Start 2P";
}